/*
Theme Name:  Designs 4 The Web
Theme URI:   http://designs4theweb.com
Version:     1.0
Description: A custom built theme for Designs 4 The Web.
Author:      Designs 4 The Web
Author URI:  http://designs4theweb.com
Template:    Understrap
*/

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

h1, h2, h3, h4, h5 {
	
}

body {
	color: #b2b2b2;
	font-family: 'open-sans', sans-serif;
}

.mb {
	margin-bottom: 10vh;
}

.pb {
	padding-bottom: 5vh;
}

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*--------------------[HEADER]--------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*-------------------[MENU]-----------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*----------------------[PAGES]-------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#wrapper-footer {
	color: $brand-secondary;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	font-size: 12px;

	#footerWidgets {
		padding: 50px 0;
	}

	h5 {
			padding-bottom: 5px;
		    border-bottom: solid 2px;
		    text-transform: uppercase;
		    color: $brand-primary
		}

	ul {
		padding-left: 0;
		list-style: none;

		li {
			margin-bottom: 5px;

			a {
				color: $brand-primary;
				text-transform: uppercase;
				font-size: 12px;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

@include media-breakpoint-down(xs) {  }
@include media-breakpoint-down(sm) {  }
@include media-breakpoint-down(md) {  }
@include media-breakpoint-down(lg) {  }

@include media-breakpoint-only(xs) {  }
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }